/* some common css style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* nav section start */

nav {
    display: flex;
    margin-top: 55px;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    display: flex;
    gap: 17px;
    align-items: center;
}

h1 span {
    margin-left: 10px;
    color: rgb(255, 84, 0);
}

.nav-title h1 {
    font-size: 36px;
    font-weight: 800;
}

.nav-link ul {
    display: flex;
    gap: 45px;
}

.nav-link ul li {
    list-style: none;
}

.nav-link ul li a {
    font-size: 18px;
    font-weight: 700;
    color: rgb(66, 66, 71);
    text-decoration: none;
}

.nav-link ul li .home {
    color: rgb(255, 84, 0);
}

/* banner section start */

.explore-your-travel {
    border-radius: 16px;
    margin-top: 50px;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(19, 19, 24, 0.8), rgba(19, 19, 24, 0) 100%), url('../images/Group\ 13\ \(1\)\ \(1\).png');
}

.explore-travel h1 {
    font-size: 64px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.explore-travel p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 25px;
    color: rgb(255, 255, 255);
}

.travel-inputs {
    border-radius: 8px;
    backdrop-filter: blur (4px);
    margin-top: 50px;
    padding: 1rem;
    display: flex;
    gap: 25px;
    justify-content: space-around;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
}

/* .travel-inputs input{
   
    width: 174px;
    
}
.travel-inputs select{
    padding: 16px;
} */
input,
select {
    width: 175px;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    padding: 1rem;
}

select,
option {
    font-size: 1rem;
    color: rgba(19, 19, 24, 0.5);
}

.travel-inputs button {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    padding: 15px 35px;
    border: none;
    border-radius: 8px;
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
}

.hamburger {
    display: none;
    margin-right: 20px;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
}

/* our popular tours section start */

.our-popular-tours {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.popular-tours-description h1 {
    font-size: 40px;
    font-weight: 800;
    color: rgb(19, 19, 24);
}

.popular-tours-description p {
    padding-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: rgb(90, 90, 93);
}

.popular-tours-description ul {
    padding-left: 20px;
}

.popular-tours-description button {
    font-size: 20px;
    font-weight: 7 00;
    padding: 14px 35px;
    border: none;
    border-radius: 8px;
    margin-top: 32px;
    background-color: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
}
.popular-tours-images img {
    width: 100%;
}

/* choose your destination section start */

.choose-your-destination{
    margin-top: 100px;
}
.destination-title{
    text-align: center;
}
.destination-title h1{
    font-size: 40px;
    font-weight: 800;
    color: rgb(19, 19, 24);
}
.destination-title p{
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    color: rgba(19, 19, 24, 0.7);
}
.row{
    margin-top: 50px;
}
.row-1,
.row-2,
.row-3{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
}
.row-2{
    margin-top: 1.5rem;
    grid-template-columns: 0.8fr 1fr 0.6fr;
}
.row-3{
    margin-top: 1.5rem;
    grid-template-columns: 0.7fr 1fr;
}
.country-card{
    position: relative;
}
.country-card img{
    width: 100%;
    height: 300px;
    filter: brightness(90%);
}
.country-card p{
    font-size: 28px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}



/* responsive media queary mobile device */

@media screen and (max-width: 576px) {
    header, .our-popular-tours, .choose-your-destination{
        padding: 20px;
    }

    .nav-link {
        display: none;
    }

    .explore-travel h1 {
        padding-top: 30px;
        font-size: 42px;
    }

    .travel-inputs {
        margin-bottom: 32px;
        flex-direction: column;
    }

    .travel-inputs input,
    select,
    button {
        width: 300px;
    }

    .hamburger {
        display: flex;
    }

    .our-popular-tours {
        flex-direction: column;
    }
    .popular-tours-images{
        margin-top: 24px;
    }
    .row-1{
        grid-template-columns: 1fr;
    }
    .row-2{
        grid-template-columns: 1fr;
    }
    .row-3{
        grid-template-columns: 1fr;
    }
}